
 {% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
<title>IT-Hobby!</title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<style>
   .layer1 {

    padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 20%; /* Ширина слоя */
   }
   .layer2 {
    padding: 5px; /* Поля вокруг текста */
    width: 80%; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
   }
   .clear {
    clear: left; /* Отмена обтекания */
   }

</style>


<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">









</head>



<body>

<div class="layer1">
  <div class="container-fluid">
<div style="overflow: hidden;">
    <div style="width: 100%;">
    </div>
</div>
</div>
</div>




<div class="layer2">
  <div class="container-fluid">

  <nav class="navbar navbar-default">
  
  <div class="container">
    
    <div class="navbar-header">
      <a href="#" class="navbar-brand">IT-Hobby!</a>
    </div>
    
    <div>
    
     <ul class="nav navbar-nav">
       <li class="active"><a href="http://127.0.0.1:8000">Главная</a></li>
       <li><a href="http://127.0.0.1:8000/prog_list">Статьи</a></li>
       <li><a href="http://127.0.0.1:8000/contacts">Контакты</a></li>      
     </ul>
    
    </div>
  
  </div>
  
  </nav>
      
  </div>
 </div>

  </div>
</div>










<div class="clear">

    <div id="carousel" class="carousel slide" data-ride="carousel">
 <!-- Индикатор слайдов -->
 <ol class="carousel-indicators">
  <li class="active" data-target="#carousel" data-slide-to="0"></li>
  <li data-target="#carousel" data-slide-to="1"></li>
  <li data-target="#carousel" data-slide-to="2"></li> 
 </ol>
 
  <!-- Слайды -->
 <div class="carousel-inner">
  
  
   <div class="item active">
           {% if documents %}

                {% for document in documents %}
                    <img src="{{ document.docfile.url }}">
                {% endfor %}
                
        {% else %}
            <p>No documents.</p>
        {% endif %}
   </div>
  
  
   <div class="item">
           {% if documents2 %}

                {% for document2 in documents2 %}
                    <img src="{{ document2.docfile2.url }}">
                {% endfor %}
                
        {% else %}
            <p>No documents.</p>
        {% endif %}

   </div>
   
   
   
   
   <div class="item">
           {% if documents3 %}

                {% for document3 in documents3 %}
                    <img src="{{ document3.docfile3.url }}">
                {% endfor %}
                
        {% else %}
            <p>No documents.</p>
        {% endif %}

   </div>
 </div>
 
 
 
 <!-- Стрелки переключения слайда -->
 <a href="#carousel" class="left carousel-control" data-slide="prev"></a>
  <span class="glyphicon glyphicon-chevron-left"></span>
 <a href="#carousel" class="right carousel-control" data-slide="next"></a>
   <span class="glyphicon glyphicon-chevron-right"></span>
</div>







        <div align="center">
           <h2 align="center">{{ glav.title }}</h2>
           <h2 align="left"><small><p>{% autoescape off%}{{ glav.text|linebreaksbr }}{% endautoescape %}</p></small></h2>
        </div>





<div class="footer"><!--LiveInternet counter--><script type="text/javascript">
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,150))+";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
</script><!--/LiveInternet-->

<p style="text-align:  center;"><h4 align="center">IT-HOBBY!</h4></p>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>



</html>
