
    {% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
<title>I love IT</title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<style>
   .layer1 {
    padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 20%; /* Ширина слоя */
   }
   .layer2 {
    padding: 5px; /* Поля вокруг текста */
    width: 80%; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
   }
   .clear {
    clear: left; /* Отмена обтекания */
   }


</style>


<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">









</head>



<body>
<div class="layer1">
<div style="overflow: hidden;">
    <div style="width: 100%;">
</div>
</div>
</div>

<div class="layer2">
  <div class="container-fluid">

  <nav class="navbar navbar-default">
  
  <div class="container">
    
    <div class="navbar-header">
      <a href="#" class="navbar-brand">IT-Hobby!</a>
    </div>
    
    <div>
    
     <ul class="nav navbar-nav">
       <li class="active"><a href="http://127.0.0.1:8000">Главная</a></li>
       <li><a href="http://127.0.0.1:8000/prog_list">Статьи</a></li>
       <li><a href="http://127.0.0.1:8000/contacts">Контакты</a></li>       
     </ul>
    
    </div>
  
  </div>
  
  </nav>
  </div>
 </div>

  </div>
</div>








<a href="{% url 'progs' %}" class="post-form"></a>










<div class="clear">
 {% block content %}{% endblock %}
 {% block glavnaya %}{% endblock %}
 {% block contact %}{% endblock %}
</div>





<div class="footer"><!--LiveInternet counter--><script type="text/javascript">
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,150))+";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
</script><!--/LiveInternet-->

<p class="text_footer">Для тех кто любит технологии!</p>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>



</html>
