    {% extends 'blog/base.html' %} 
    {% block content %}




       <div align="center">
       {% if post.image %}
       <img src="{{ post.image.url }}"{{ post.image.name }} class="img-responsive">
       {% else %}
        <p><font color="#FF0000;"><h3>Заново добавьте фото!</h3></font></p>
       {% endif %}
       </div>



<h2 align="center">{{ post.title }}</h2>
<h2 align="left"><small><p>{% autoescape off%}{{ post.text|linebreaksbr }}{% endautoescape %}</p></small></h2>




    {% endblock %}
 


