    {% extends 'blog/base.html' %}

    {% block content %}
 <h1 align="center">Статьи о программировании</h1>

        {% for post in posts %}
       
         <form>

           <div class="post">         
             <table align="center">
               <tr><th><a href="{% url 'prog_detail' pk=post.pk %}"></a>
               
               
             {% if post.image %}
               <img src="{{ post.image.url }}"{{ post.image.name }} class="img-responsive">
             {% else %}
               <p><font color="#FF0000;"><h3>Нет изображения!</h3></font></p>
             {% endif %}
             
          
               
               <td><p align="center">{{ post.title }}<br><a href="{% url 'prog_detail' pk=post.pk %}" >Читать статью >></a></p>     
             </table>
           </div>
                  

         </form>
        {% endfor %}        
    {% endblock content %}


