table {
border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
border: 1px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}

th {border: 1px solid grey;}

td {border: 1px solid grey;}


table {
	width: 70%;
   height: 20%;
}
th {width: 20%;}
td:first-child {width: 40%;}



.footer {
    margin-top:10%;    
    margin-bottom: 1%;
    height:80px;
    background-color:  #808080;

}

.text_footer {
	text-align: center;

}



























